.container {
  width: 1500px;
  margin: auto;
}
.container div {
  vertical-align: middle;
}
.top {
  margin-top: 10px;
  width: 1500px;
  height: 80px;
  display: table;
}
.middle {
  margin-top: 5px;
  width: 1500px;
  height: 600px;
  position: relative;
}
.middle-left {
  position: absolute;
  top: 0px;
  width: 500px;
  height: 600px;
}
.middle-left-1 {
  width: 500px;
  height: 300px;
}
.middle-left-2 {
  margin-top: 10px;
  width: 500px;
  height: 100px;
}
.middle-left-3 {
  margin-top: 10px;
  width: 500px;
  height: 100px;
}
.middle-right {
  position: relative;
  top: 0px;
  left: 600px;
  width: 900px;
  height: 600px;
}
.bottom {
  margin-top: 50px;
  margin-bottom: 0px;
  width: 1500px;
  height: 30px;
  background-color: #5d5d5d;
  color: #fff;
}
