ul{
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
    display: inline-block;
}

.ev{
    display: block;
    padding: 6px 12px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #333;
    transition: all 0.3s ease-in-out;
}

.ev:hover{
    color: #fff;
    background: #111;
}