<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Kosy</title>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/imgsc.css">
    <link rel="stylesheet" type="text/css" href="static/css/menu.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="icon" href="static/img/favicon.png">
    <script type="text/javascript" src="static/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="static/js/imgsc.js"></script>
    {% with messages = get_flashed_messages() %}
	{% if messages %}
	{% for message in messages %}
	<script>
		alert('{{message}}')
	</script>
	{% endfor %}
	{% endif %}
    {% endwith %}
</head>

<body>
<div class="container">
  <!-- TOP -->
  <div class="top">
    <!-- 상단 메뉴 -->
    <nav class="navigation">
      <ul class="menu">
        <li class="menu__item">
          <a href="/" class="menu__link">
          <img src="static/img/logo2.png"></a>
        </li>

        <li class="menu__item">
          <a href="/kosy" class="menu__link">
            <span class="menu__title">
              <span class="menu__first-word" data-hover="Team">
                Team
              </span>
              <span class="menu__second-word" data-hover="Kosy">
                Kosy
              </span>
            </span>
          </a>
        </li>

        <li class="menu__item">
          <a href="/data" class="menu__link">
            <span class="menu__title">
              <span class="menu__first-word" data-hover="Data">
                Data
              </span>
              <span class="menu__second-word" data-hover="분석">
                분석
              </span>
            </span>
          </a>
        </li>

        <li class="menu__item">
          <a href="/map" class="menu__link">
            <span class="menu__title">
              <span class="menu__first-word" data-hover="충전소">
                충전소
              </span>
              <span class="menu__second-word" data-hover="찾기">
                찾기
              </span>
            </span>
          </a>
        </li>

        <li class="menu__item">
          <a href="/kosyInfo" class="menu__link">
            <span class="menu__title">
              <span class="menu__first-word" data-hover="Kosy">
                Kosy
              </span>
              <span class="menu__second-word" data-hover="Info">
                Info
              </span>
            </span>
          </a>
        </li>

        <li class="menu__item">
          <a href="/web" class="menu__link">
            <span class="menu__title">
              <span class="menu__first-word" data-hover="Web">
                Web
              </span>
              <span class="menu__second-word" data-hover="Data">
                Data
              </span>
            </span>
          </a>
        </li>

        <li class="menu__item">
          <a href="/ment" class="menu__link">
            <span class="menu__title">
              <span class="menu__first-word" data-hover="Kosy">
                Kosy
              </span>
              <span class="menu__second-word" data-hover="Ment">
                Ment
              </span>
            </span>
          </a>
        </li>

        {% if session.get('logFlag') != True %}
        <li class="menu__item">
          <a href="/login" class="menu__link">
            <span class="menu__title">
              <span class="menu__first-word" data-hover="Log">
                Log
              </span>
              <span class="menu__second-word" data-hover="In">
                In
              </span>
            </span>
          </a>
        </li>
        {% else %}
        <li class="menu__item">
          <a href="/myPage" class="menu__link">
            <span class="menu__title">
              <span class="menu__first-word" data-hover="My">
                My
              </span>
              <span class="menu__second-word" data-hover="Page">
                Page
              </span>
            </span>
          </a>
        </li>
        {% endif %}

        {% if session.get('logFlag') == True %}
        <li class="menu__item">
          <a href="/logOut" class="menu__link">
            <span class="menu__title">
              <span class="menu__first-word" data-hover="Log">
                Log
              </span>
              <span class="menu__second-word" data-hover="Out">
                Out
              </span>
            </span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    <!-- 상단 메뉴 끝 -->

    <!-- 템플릿 상속  -->
      {% block content %}
      {% endblock %}
  <footer>
  <div class="bottom">

      <h3>2021.01.04 / Team Kosy / shimwh81@naver.com / Big Data 분석</h3>

  </div>
   </footer>
</div>


</body>
</html>