{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="static/css/layout5.css">

  <!-- MIDDLE -->
  <div class="middle">

    <div class="middle-left">

    </div>

      <div class="middle-center">
        <div align="center" class="blue">
            <h1><img src="/static/img/icon8.png">BMI TEST</h1>

            <hr>
            <form action="/bmiOk" method="post">
            키를 입력하세요 : <input type="text" name="h"> cm<br><br>
            몸무게를 입력하세요 : <input type="text" name="w"> kg<br><br>
            <input type="submit" value="측정하기">
            </form>
            <br><br>
            결과 : {{bmi}}
            </div>
            <br><br>
           <div align="center"><a href="/kosyInfo">[ Back ]</a></div>
      </div>

      <div class="middle-right">

      </div>
    </div>
{% endblock %}

