{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/css/layout3.css">

  <!-- MIDDLE -->
  <div class="middle">

    <div class="middle-left">

    </div>

      <div class="middle-center">
        <div align="center">
            <h1><img src="/static/img/icon1.png">EV-Car Info</h1><hr>
            <!--<form action="/calOk" method="get">-->
            <select id="carInfo" onchange="drawImage()">
                  <option value="static/img/cari7.png">--차종을 선택하세요--</option>
                  <option value="static/img/cari0.png"><테슬라>테슬라 전기차</option>
                  <option value="static/img/cari1.png"><현대>코나 전기차</option>
                  <option value="static/img/cari2.png"><현대>아이오닉 전기차</option>
                  <option value="static/img/cari3.png"><기아>니로 전기차</option>
                  <option value="static/img/cari4.png"><르노삼성>TWIZY 전기차</option>
                  <option value="static/img/cari5.png"><르노삼성>SM3 Z.E.</option>
                  <option value="static/img/cari6.png">< BMW >BMW i3</option>
              </select>
            <!--<hr>-->
            <!--<input type="submit" value="선택">-->
            <!--</form>-->
            </div>
            <hr>
            <br>
            <img id="dataimage" src="static/img/cari7.png" width=800px height=300px>
            <br>
            <div align="center"><a href="/kosyInfo">[ Back ]</a></div>

      </div>

      <div class="middle-right">

      </div>
    </div>
    </div>
{% endblock %}
