{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/css/layout6.css">

    <script>
        function btnImg()
        {
          document.getElementById("dataimage").src = "static/img/data_rs.png";
          document.getElementById("dataimage");
        }
   </script>
    <script>
        function btnImg2()
        {
          document.getElementById("dataimage").src = "static/img/source.png";
          document.getElementById("dataimage");
        }
   </script>

  <!-- MIDDLE -->
  <div class="middle">

    <div class="middle-right">
        <img id="dataimage" src="static/img/databg.png" width=960px height=720px>
<!--        <img id="data5" src="static/img/data_rs.png" width=960px height=720px>-->
      </div>

    <div class="middle-left">

      <div class="middle-left-1">

            <h2><img src="/static/img/icon6.png">전기차 키워드 분석</h2>
          <select id="data4" onchange="drawImage4()">
          <option value="static/img/databg.png" selected>-- 선택하세요 --
          <option value="static/img/testdata.png">전기차 키워드 분석
          <option value="static/img/testdata3.png">전기차 충전소 키워드 분석
          <option value="static/img/kw_3.png">전기차 키워드 분석3
          </select>

      </div>
      <hr>
      <div class="middle-left-2">

            <h2><img src="/static/img/icon3.png">전기차 유형별 증감현황</h2>

          <select id="data3" onchange="drawImage3()">
          <option value="static/img/databg.png" selected>-- 선택하세요 --
          <option value="static/img/data2_1.png">전기차 유형별 증감 현황
          </select>

      </div>
      <hr>

      <div class="middle-left-3">

            <h2><img src="/static/img/icon1.png">지역별 전기차 / 충전소 증감현황</h2>

          <select id="data2" onchange="drawImage2()">
          <option value="static/img/databg.png" selected>-- 선택하세요 --
          <option value="static/img/data3_1.png">지역별 전기차 증감 현황
          <option value="static/img/data3_2.png">지역별 전기차 충전소 증감 현황
          </select>

      </div>
      <hr>
      <div class="middle-left-4">

            <h2><img src="/static/img/icon5.png">전기차 / 충전소 상관관계</h2>

          <select id="data1" onchange="drawImage1()">
          <option value="static/img/databg.png" selected>-- 선택하세요 --
          <option value="static/img/data4_tot.png">전체
          <option value="static/img/data4_sw.png">서울특별시
          <option value="static/img/data4_ic.png">인천광역시
          <option value="static/img/data4_gg.png">경기도
          <option value="static/img/data4_sj.png">세종특별자치시
          <option value="static/img/data4_dj.png">대전광역시
          <option value="static/img/data4_dg.png">대구광역시
          <option value="static/img/data4_gj.png">광주광역시
          <option value="static/img/data4_us.png">울산광역시
          <option value="static/img/data4_bs.png">부산광역시
          <option value="static/img/data4_kw.png">강원도
          <option value="static/img/data4_cb.png">충청북도
          <option value="static/img/data4_cn.png">충청남도
          <option value="static/img/data4_gb.png">경상북도
          <option value="static/img/data4_gn.png">경상남도
          <option value="static/img/data4_jb.png">전라북도
          <option value="static/img/data4_jn.png">전라남도
          <option value="static/img/data4_jeju.png">제주특별자치도
          </select>
          <br>
<!--          <div align="center"><input type='button' value='결론' onclick="javascript:openPop()"></div>-->

          <div align="center" ><input type='button' value='결론'  onclick="btnImg()">&nbsp&nbsp<input type='button' value='출처'  onclick="btnImg2()"></div>


      </div>

    </div>
{% endblock %}
