{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/css/layout.css">

<!-- session -->
<br>
{% if session.get('logFlag') == True %}
{{session.get('uid') }}님 방문을 환영합니다.
{% endif %}
<br>
  </div>

  <!-- MIDDLE -->
  <div class="middle">

    <div class="middle-left">
      <!-- 슬라이드  -->
    <div class="slide">
      <ul class="slide_ul">
      <li><img src="static/img/evcar_01.png"></li>
      <li><img src="static/img/index03.png"></li>
      <li><img src="static/img/index04.png"></li>
      <li><img src="static/img/index05.png"></li>
      <li><img src="static/img/main7.png"></li>
      </ul>
      </div>
      <br>
      <br>

      <p class='text-rainbow'><MARQUEE scrollamount="10" ><span>TEAM KOSY X EV-Car</span></MARQUEE></p>

      <br>
      </div>
<!-- 슬라이드 이미지 끝 -->


    <div class="middle-right">

      <div class="middle-right-1">
         <!-- 한줄 게시판 -->
      <div class="mini">
        <h3><img src="/static/img/board.png">한줄 남기기</h3>
      </div>
      <form action="/bwrite" method="post">
      {% for rows in lists %}
      <ul>
      <li> {% for row in rows %}</li>
      {{row}}
          {% endfor %}
      </ul>
      {% endfor %}

      닉네임 : <input type="text" name="unick" value= {{ session['unick'] }} ><br>
      메시지 : <input type="text" name="messege">
      <input type="submit" value="쓰기">
      </form>

        <table align="center">
        <tr>
      {% for i in range(page_count)  %}
      <td><a href="/{{i+1}}">[{{ i+1 }}]</a></td>
      {% endfor %}
     </tr>
        </table>

    </div>

      <div class="middle-right-2">
        <!-- 요금정보 -->
        <div id="pay">
          <h3><img src="/static/img/oil.png">EV-Car</h3>
        <!--저압 : 2,390원 / 고압 : 2,580원-->
        <img src="/static/img/ev_pay.png">
      </div>
      </div>
      <div class="middle-right-3">

      </div>
    </div>
  </div>
{% endblock %}