{% extends "base.html" %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="static/css/layout3.css">

  <SCRIPT LANGUAGE="JavaScript">
    function idCheck()
    {
    window.open("idCheck.html", "startpop", "top=300, left=500, width=300, height=100, scrollbars=no, resizable=no ,status=no ,toolbar=no");
    }
    </SCRIPT>

  <!-- MIDDLE -->
  <div class="middle">

    <div class="middle-left">

    </div>

      <div class="middle-center">
        <div align="center">
            <h1><img src="/static/img/account.png">회원가입</h1>
            <hr>
            <form action="/joinOk" method="post">
                ID : <input type="text" name="uid">
              <input type="button" value="ID Check" onclick="idCheck()">
              <br>
                <br> PW : <input type="text" name="upwd"><br>
                <br> Name : <input type="text" name="uname"><br>
                <br> 닉네임 : <input type="text" name="unick"><br>
                <br> TEL : <select name="uphone1">
                    <option>010</option>
                    <option>011</option>
                    <option>016</option>
                    <option>018</option>
                    <option>019</option>
                </select> - <input type="text" name="uphone2" maxlength="4"> - <input type="text"
                    name="uphone3" maxlength="4"><br>
                <br> 성별 : <input type="radio" name="ugender" value="man">남자
                <input type="radio" name="ugender" value="woman">여자<br>
                <br>
                좋아하는 차종 : <input type="checkbox" name="sedan">세단
                <input type="checkbox" name="suv">SUV
                <input type="checkbox" name="mini">경차
                <input type="checkbox" name="elec">전기차
                <hr>
                <input type="submit" value="가입하기"> <input type="reset"
                    value="초기화">
            </form>
            <hr>
            <a href="/login">[Back]</a>
            </form>
            </div>
      </div>

      <div class="middle-right">

      </div>
    </div>
    </div>
{% endblock %}
