{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/css/layout7.css">

  <!-- MIDDLE -->
  <div class="middle">
      <div class="middle-left">

      <div class="middle-left-1">
          <div align="center">
            <h1><img src="/static/img/icon1.png">Team Kosy</h1>
            팀장 : 오홍직 / 팀원 : 심우현 양승호 김세은
            </div>
            <br>
            <hr>
      </div>

      <div class="middle-left-2">
        <img id="dataimage" src="static/img/kosy_tools.png">
      </div>

    <div class="middle-right">
      <div class="middle-right-1">
        <h3><img src="/static/img/ment.png">프로젝트 개요 </h3>
            <p>전기차 / 충전소 증감 상관 관계</p>
            <p>지역별 전기차 / 충전소 증감 현황</p>
            <p>전기차 유형별 증감 현황</p>
      </div>
      <hr>

      <div class="middle-right-2">

          <h3><img src="/static/img/ment.png">주제 선정 배경 </h3>
            <p>전기차 / 충전소 증감 상관 관계</p>
            <p>지역별 전기차 / 충전소 증감 현황</p>
            <p>전기차 유형별 증감 현황</p>

          </div>
    </div>
{% endblock %}