{% extends "base.html" %}
{% block content %}
  <style>
        h1{
            text-shadow: 5px 5px 3px gray;
        }
    </style>
<link rel="stylesheet" type="text/css" href="static/css/layout3.css">

  <!-- MIDDLE -->
  <div class="middle">

    <div class="middle-left">

    </div>

      <div class="middle-center">
        <div align="center">
            <h1><a href="/cal"><img src="/static/img/icon1.png">Car Info</a></h1>
            <br>
            <hr>
            <br>
<!--            <h1><a href="https://teamkosy.pythonanywhere.com/bmi">-->
<!--              <img src="/static/img/icon7.png">Machine Learning</a></h1>-->
          <h1><a href="/ml">
              <img src="/static/img/icon7.png">Machine Learning</a></h1>
            <br>
          <hr>
            <br>
            <h1><a href="/search"><img src="/static/img/icon4.png">Kosy Search</a></h1>
            <br>
            <hr>
            <br>
            <h1><a href="/bmi"><img src="/static/img/icon8.png">재미로 보는 BMI</a></h1>
      </div>

      <div class="middle-right">

      </div>
    </div>
{% endblock %}