{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>

    <link rel="stylesheet" type="text/css" href="static/css/layout3.css">

  <!-- MIDDLE -->
  <div class="middle">

    <div class="middle-left">

    </div>

      <div class="middle-center">
        <div align="center">
            <h1><img src="/static/img/login.png">로그인 하세요~!!</h1><hr>
            <form action="/loginOk" method="post">
            <input type="hidden" name="idx">
            ID : <input type="text" name="uid" value={{ session['uid'] }}>
            <br>
            <br>
            PW : <input type="password" name="upwd">
            <hr>
            <input type="submit" value="로그인">  <input type="button" value="회원가입" onclick="location.href='/join'">
            </form>
            </div>
      </div>

      <div class="middle-right">

      </div>
    </div>
    </div>
{% endblock %}