{% extends "base.html" %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="static/css/layout3.css">

  <!-- MIDDLE -->
  <div class="middle">

    <div class="middle-left">

    </div>

      <div class="middle-center">
        <div align="center" class="blue">
            <h1 ><img src="/static/img/icon4.png">회원 List</h1>
          </div>
            <hr>
            <br>
            <br>
            <table border="1" align="center">
                <tr><th bgcolor="aqua">IDX</th><th bgcolor="aqua">ID</th><th bgcolor="aqua">PW</th>
                <th bgcolor="aqua">이름</th><th bgcolor="aqua">닉네임</th>
                <th bgcolor="aqua">Phone</th><th bgcolor="aqua">전화</th><th bgcolor="aqua">번호</th>
                <th bgcolor="aqua">성별</th><th bgcolor="aqua">세단</th><th bgcolor="aqua">Suv</th>
                <th bgcolor="aqua">경차</th><th bgcolor="aqua">전기차</th><th bgcolor="aqua">가입일</th>
                </tr>
                {% for members in rows %}
                <tr>
                    {% for member in members %}
                    <td>{{member}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        <br><br>
        {% if session['uid'] == rs %}
        <div align="center">
        <form action="/modify">
            <input type="submit" value="정보 수정">
            </form>&nbsp&nbsp
        <form action="/del" method="post">
            <input type="hidden" name="idx">
            <input type="submit" value="회원 탈퇴">
            </form>
        </div>
        {% endif %}
        <br><br>
           <div align="center"><a href="/myPage">[ Back ]</a></div>
        <br><br>
      </div>

      <div class="middle-right">

      </div>
    </div>
{% endblock %}