{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/css/layout6.css">

  <!-- MIDDLE -->
  <div class="middle">

    <div class="middle-right">
        <img id="dataimage" src="static/img/ment_main.png" width=100% height=100%>
      </div>

    <div class="middle-left">

      <div class="middle-left-1">
        <div align="center">
            <h2><img src="/static/img/bigd1.png">오홍직</h2>

          <select id="data1" onchange="drawImage1()">
          <option value="static/img/ment_main.png" selected>-- 선택하세요 --
          <option value="static/img/o_1.png">작업 스샷1
          <option value="static/img/o_2.png">작업 스샷2
          <option value="static/img/o_3.png">작업 스샷3
          <option value="static/img/o_4.png">작업 스샷4
          <option value="static/img/o_5.png">작업 스샷5
          <option value="static/img/o_ment.png">후기
          </select>
          </div>
      </div>
      <hr>

      <div class="middle-left-2">
        <div align="center">
            <h2><img src="/static/img/bigd2.png">김세은</h2>

          <select id="data2" onchange="drawImage2()">
          <option value="static/img/ment_main.png" selected>-- 선택하세요 --
          <option value="static/img/k_1.png">작업 스샷1
          <option value="static/img/k_2.png">작업 스샷2
          <option value="static/img/k_3.png">작업 스샷3
          <option value="static/img/k_4.png">작업 스샷4
          <option value="static/img/k_5.png">작업 스샷5
          <option value="static/img/k_ment.png">후기
          </select>
          </div>
      </div>
      <hr>

      <div class="middle-left-3">
        <div align="center">
            <h2><img src="/static/img/web.png">심우현</h2>

          <select id="data3" onchange="drawImage3()">
          <option value="static/img/ment_main.png" selected>-- 선택하세요 --
          <option value="static/img/s_1.png">작업 스샷1
          <option value="static/img/s_2.png">작업 스샷2
          <option value="static/img/s_3.png">작업 스샷3
          <option value="static/img/s_4.png">작업 스샷4
          <option value="static/img/s_5.png">작업 스샷5
          <option value="static/img/s_ment.png">후기
          </select>
          </div>
      </div>
      <hr>

      <div class="middle-left-4">
        <div align="center">
            <h2><img src="/static/img/web.png">양승호</h2>

          <select id="data4" onchange="drawImage4()">
          <option value="static/img/ment_main.png" selected>-- 선택하세요 --
          <option value="static/img/y_1.png">작업 스샷1
          <option value="static/img/y_2.png">작업 스샷2
          <option value="static/img/y_3.png">작업 스샷3
          <option value="static/img/y_4.png">작업 스샷4
          <option value="static/img/y_5.png">작업 스샷5
          <option value="static/img/y_ment.png">후기
          </select>
          </div>
      </div>
    </div>
{% endblock %}