{% extends "base.html" %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="static/css/layout3.css">

  <!-- MIDDLE -->
  <div class="middle">

    <div class="middle-left">

    </div>

      <div class="middle-center">
        <div align="center">
            <h1>{{ session['uid'] }}님 정보 수정</h1>
            <hr>
            <form action="/modifyOk" method="get">
                ID : {{ session['uid'] }} <br>
                <br> PW : <input type="text" name="upwd" value={{upwd}}><br>
                <br> Name : <input type="text" name="uname" value={{uname}}><br>
                <br> 닉네임 : <input type="text" name="unick" value={{unick}}><br>
                <br> TEL : <select name="uphone1">
                    <option>010</option>
                    <option>011</option>
                    <option>016</option>
                    <option>018</option>
                    <option>019</option>
                </select> - <input type="text" name="uphone2" value={{phone2}}> - <input type="text"
                    name="uphone3" value={{phone3}}><br>
                <br> 성별 : <input type="radio" name="ugender" value="man">남자
                <input type="radio" name="ugender" value="woman">여자<br>
                <br>
                좋아하는 차종 : <input type="checkbox" name="sedan">세단
                <input type="checkbox" name="suv">SUV
                <input type="checkbox" name="mini">경차
                <input type="checkbox" name="elec">전기차
                <hr>
                <input type="submit" value="수정하기"> <input type="reset"
                    value="초기화">
            </form>
            <hr>
            <a href="/myPage">[Back]</a>

            </div>
      </div>

      <div class="middle-right">

      </div>
    </div>
    </div>
{% endblock %}