{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="static/css/layout3.css">

  <!-- MIDDLE -->
  <div class="middle">

    <div class="middle-left">

    </div>


      <div class="middle-center">
        <div align="center" class="pink">
            <h1><img src="/static/img/icon4.png">Team Kosy 검색창</h1>
                <hr>
            <form action="/s" method="get">
                <select name="skind">
                    <option value="1">News</option>
                    <option value="2">Book</option>
                    <option value="3">Blog</option>
                </select>
              <input type="text" name="search">
              <input type="submit" value="검색">
            </form>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div align="center"><a href="/kosyInfo">[ Back ]</a></div>
      </div>


      <div class="middle-right">

      </div>
    </div>
    </div>
{% endblock %}
