{% extends "base.html" %}
{% block content %}

    <link rel="stylesheet" type="text/css" href="static/css/layout5.css">

  <!-- MIDDLE -->
  <div class="middle">

    <div class="middle-left">

    </div>

      <div class="middle-center">
        <div align="center" class="blue">
            <h1><img src="/static/img/icon4.png">검색 결과</h1>
          </div>
            <hr>
            <table border="1" align="center">
                {% if skind == 1 %}
                <tr><th bgcolor="green">제목</th><th bgcolor="green">링크</th><th bgcolor="green">날짜</th></tr>
                {% for items in lists %}
                      <tr>
                      <td>{{items[0]}}</td><td><a href="{{items[1]}}">{{items[1]}}</a></td><td>{{items[2]}}</td>
                      </tr>
                  {% endfor %}
                </table>
                {% endif %}

                {% if skind == 2 %}
                <tr><th bgcolor="green">제목</th><th bgcolor="green">가격</th><th bgcolor="green">출판사</th></tr>
                        {% for items in lists %}
                              <tr>
                              {% for item in items %}
                              <td>{{item}}</td>
                              {% endfor %}
                              </tr>
                          {% endfor %}
                        </table>
                        {% endif %}

                {% if skind == 3 %}
                <tr><th bgcolor="green">제목</th><th bgcolor="green">블로거</th><th bgcolor="green">링크</th></tr>
                        {% for items in lists %}
                              <tr>
                              <td>{{items[0]}}</td><td>{{items[1]}}</td><td><a href="{{items[2]}}">{{items[2]}}</a></td>
                              </tr>
                          {% endfor %}
                        </table>
                        {% endif %}

        <br><br>
           <div align="center"><a href="/search">[ Back ]</a></div>
        <br><br>
      </div>

      <div class="middle-right">

      </div>
    </div>
{% endblock %}
